ul li a{
font-family: 'Inter';
width: 46px;
height: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #667085;
padding: 10px;
text-decoration: none;

}
ul{
    display: flex;
    list-style-type: none;
    color: #667085;

}

.logo{
display: flex;
margin: left;
width: 27px;
height: 26.99px;
margin-left: 20px;
align-items: center;

}


.logo p{
margin-left:15px ;
margin-bottom: 12px;

}

header{
display: flex;
justify-content: space-between;
}
.titulo h6{
font-family: 'Inter';
font-style: bolder;
font-weight: 900;
font-size: 20px;
color: #8E2424;
text-align: center;


}
.titulo h1{
text-align: center;
font-family: 'Inter';
font-style: bolder;
font-weight: 900;
font-size: 48px;
line-height: 60px;
color:#101828;
letter-spacing: -0.02em;
color: #101828;
flex: none;
order: 0;
flex-grow: 0;
margin: 30px;
}
.titulo p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
flex: none;
text-align: center;
margin: 30px;

}
.metricas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 8px;
   
}
.metricas div{
    padding: 10px;
}
.metricas h3{
font-family: 'Inter';
font-style: bold;
font-weight: 900px;
font-size: 60px;
color: #8E2424;
text-align: left;
margin-bottom: 15px;
align-items: center;

}


.metricas h4{
 width: 280px;
height: 28px;
font-family: 'Inter';
font-style: bold;
font-weight: 900;
font-size: 18px;
line-height: 28px;
color: #101828;
display:flex;
align-items: center;
margin: auto;
}

.metricas p{
width: 280px;
height: 48px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #667085;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
display: flex;
flex-direction: column;
align-items: center;
}
.vagas{
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
margin-bottom: 25px;
align-items:flex-start ;
flex-direction: column;
margin: 50px;
padding: 30px;

}
.vagas img{
width: 1216px;
height: 400px;
left: 112px;
top: 298px;
}
.vagas h2{
font-family: 'Inter';
font-style: bold;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #8E2424;

}
.vagas h6{
font-family: 'Inter';
font-style: bold;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #667085;
margin: 40px;
padding: 8px;
}
.vagas div h2{
background: rgba(142, 36, 36, 0.05);
border-radius: 16px;
width: 125px;
margin: auto;
}
.design h2 p{
 background: #FFFFFF;
border: 1px solid #EAECF0;
border-radius: 16px;
}
.design h1{
    text-align: left;
    margin-left:150px;
}
.design h2{
    text-align: left;
}
.Desenvolvedora h3{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
text-align: center;
color: #8E2424;
padding: 50px ;

}
.Desenvolvedora h1{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
text-align: center;
letter-spacing: -0.02em;
color: #101828;
}
.Desenvolvedora h2 {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: center;
color: #101828;
}
.Desenvolvedora h4{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
text-align: center;
color: #667085;
margin:45px ;

}
.Desenvolvedora{
background: rgba(196, 25, 25, 0.03);
border-radius: 16px;
width:80%;
height:auto;
margin: auto;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 25px;

}
.Desenvolvedora img{
    margin: auto;
    display: flex;  
}
.Desenvolvimento h2{
    background-color: white;
}
    



.Oportunidades h1{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
text-align: center;
letter-spacing: -0.02em;
color: #101828;

}
.Oportunidades h2{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
text-align: center;
color: #667085;
}

input[type="email"]
{
background: #FFFFFF;
border: 1px solid #D0D5DD;
margin: auto;
flex-direction: column;
align-items: center;
justify-content: center;
height: 30px;
width: 250px;
border-radius:4px;
margin-left: 480px;
font-family: 'Inter';
font-style: normal;
line-height: 24px;
}
footer{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
display: flex;
align-items: center;
color: #98A2B3;
}

.cadastrar input[type="submit"]
{
font-family: 'Inter';
font-style: normal;
background: #8E2424;
color: #FFFFFF;
border: 1px solid #8E2424;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

}
.buttons{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 15px;
}
.cadastrar{
margin: auto auto auto 10px;
}
.buttons .Entrar input[type="submit"]
{
background-color: white;
font-family: 'Inter';
font-style: normal;
color: #667085;
margin-left: 80px;

}
.Entrar{
    box-shadow: none;
    border: none;
}
.Desenvolvimento h1{
    text-align: left;
    margin-left: 150px;

}
.ux h2{
    text-align: left;
}
 
.final h4{
font-size: 16px;
font-family: 'Inter';
font-style: normal;
color: #98A2B3;
text-align: center;

}
